:root {
    --White-primary: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: var(--Light-gray);
     max-width: 90%;
    width: 1440px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin: auto;
}

.container {
    background-color: aliceblue;
    width: 300px;
    border-radius: 15px;
    
}

.container img {
    border-radius: 9%;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.container h2 {
    text-align: center;
    font-size: 21px;
    color: var(--Dark-blue);
    margin-bottom: 15px;
}

.container p {
    color: var(--Grayish-blue);
    text-align: center;
    width: 260px;
    margin: auto;
    margin-bottom: 20px;
}